:root {
  --primary: #47b78e;
  --primary-dark: #409878;
  --primary-darker: #3f7f69;
  --primary-color: #fff;
  --secondary: #ff0000;
  --border: #c5c5c5;
  --alt: #fff;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 12px;
}

header li {
    margin-right: 22px;
    padding: 7px 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: #fff;
}

nav ul {
    margin: 0;
}

#hamburger {
  color: #fff;
  margin: 0.6em;
  font-size: 1.3em;
  cursor: pointer;
}

header > div {
    margin-right: 12px;
}

.wrapper {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.wrapper > div:nth-child(2) {
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar, main, footer > div  {
    padding: 12px;
}

#left-nav ul {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    padding-left: 19px;
}

#left-nav li {
    width: 100%;
}

#left-nav li a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

#left-nav li a:hover {
    text-decoration: underline;
}

.hide-sm {
    display: none;
}

main {
    padding-right: 1em;
}

footer {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
}

footer > div:nth-child(1) {
    background-color: #5b5b5b;
    min-height: 80px;
}

@media (min-width: 1px) {
    .bg-marker {
        background-color: red;
    }

    header {
        justify-content: flex-start;
    }

    #sidebar {
    	display: none;
    }

    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 1.7em;
    }

}

@media (min-width: 560px) {
    .bg-marker {
        background-color: orange;
    }
}

@media (min-width: 840px) {
    .bg-marker {
        background-color: yellow;
    }

    header {
      justify-content: space-between;
    }

    .hide-lg {
      display: none;
    }

    .hide-sm {
      display: block;
    }

    #sidebar {
    	display: block;
        background-color: #eee;
        min-width: 250px;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }
}

@media (min-width: 1120px) {
    .bg-marker {
        background-color: green;
    }
}